<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.duelt">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Duelt">
        <activity android:name=".setting_list_items"></activity>
        <activity android:name=".Setting" />
        <activity android:name=".Congratulation_Window" />
        <activity
            android:name=".ScheduleEventAddWindow"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".ScheduleTestActivity" /> <!-- This Activity is set to default display -->
        <activity android:name=".TabActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShopPage" />
        <activity android:name=".treatmentpage" />
        <activity android:name=".DailyActivity" />
        <activity android:name=".TreatmentActivity" />
        <activity android:name=".TextEntering" />
        <activity android:name=".MiniActivity" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".MemoActivity" />
        <activity android:name=".Minigame" />
        <activity android:name=".MainActivity">

            <!--
             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->
        </activity>

        <receiver android:name=".AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".MemoAlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".PopWindow"
            android:theme="@style/AppTheme.CustomTheme" />
    </application>

</manifest>